@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Core.Models.PublishedContent.About>
@{
    Layout = "Master.cshtml";
}

<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="about-box">
    <div class="container">
        <div class="row">
            <div class="top-feature owl-carousel owl-theme">
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="uploads/icon-01.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Full Furnished</a></h4>
                        <p>Mauris eu porta orci. In at erat enim. Suspendisse felis erat, volutpat at nisl sit amet, maximus molestie nisi. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="uploads/icon-02.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Living Inside a Nature</a></h4>
                        <p>Mauris eu porta orci. In at erat enim. Suspendisse felis erat, volutpat at nisl sit amet, maximus molestie nisi.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="uploads/icon-03.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Luxurious Fittings</a></h4>
                        <p>Mauris eu porta orci. In at erat enim. Suspendisse felis erat, volutpat at nisl sit amet, maximus molestie nisi. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="single-feature">
                        <div class="icon"><img src="uploads/icon-04.png" class="img-responsive" alt=""></div>
                        <h4><a href="#">Non Stop Security</a></h4>
                        <p>Lorem Is a dummy Mauris eu porta orci. In at erat enim. Suspendisse felis erat, volutpat at nisl sit amet, maximus molestie nisi. </p>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr1">

        <div class="row">
            <div class="col-md-6">
                <div class="post-media wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <img src="@Model.DescriptionImages.FirstOrDefault().Url()" alt="" class="img-responsive">
                </div><!-- end media -->
            </div>
            <div class="col-md-6">
                <div class="message-box right-ab">
                    @Html.Raw(Model.Description)
                    <a href="#" class="btn btn-light btn-radius grd1 btn-brd"> Read More </a>
                </div>
            </div>
        </div>

    </div>
</div>
